.knowledge_body {
  font: normal 12px/22px "Microsoft Yahei";
  background: url(http://media.graphvis.cn/bg_01.jpg);
  min-height: 100%;
  background-size: cover;
  overflow: hidden;
  .search-wrap {
    margin: 200px auto 0;
    text-align: center;
    h3 {
      font-size: 30px;
      line-height: 52px;
      color: #FFF;
      font-weight: 400;
    }
    p {
      font-size: 14px;
      line-height: 30px;
      color: #999;
    }
    .search {
      margin-top: 30px;
      input {
        width: 700px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        padding: 15px 20px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-sizing: content-box;
      }
      .search-btn {
        display: inline-block;
        margin-left: -6px;
        cursor: pointer;
        color: #FFF;
        background-color: #108CEE;
        width: 115px;
        height: 51px;
        font-size: 14px;
        line-height: 50px;
        transition: background-color .2s ease-in;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  
  .container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
  }
  .imglist1 {
    margin: 50px auto 0;
    width: 860px;

    padding-bottom: 10px;
    ul li {
      float: left;
      margin: 10px 0 0 10px;
      a {
        display: block;
        width: 160px;
        height: 140px;
        position: relative;
        overflow: hidden;
        &:hover img {
          transform:scale(1.5);
          -webkit-transform:scale(1.5);
          -moz-transform:scale(1.5);
          -ms-transform:scale(1.5);
          transform:scale(1.5);
        }
        img {
          width: 160px;
          height: 140px;
        }
        span {
          position: absolute;
          height: 24px;
          width: 100%;
          color: white;
          line-height: 24px;
          font-size: 15px;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

