.sideMenuContainer {
  background: #373456;
  padding: 0 5px;
  position: fixed;
  top: 40px;
  bottom: 30px;
  right: -250px;
  width: 250px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s;
}

.sideMenuContainer .left-bar-header {
  position: relative;
  height: 30px;
  line-height: 30px;
  border: 1px solid #1c4e75;
  margin: 0 -5px;
  padding: 0;
  background: #2a283e;
}

.left-bar-header .title {
  padding-left: 8px;
  font-size: 15px;
  color: #fafafa;
  font-weight: 600;
}
.left-bar-header .slideCloseBtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  color: #a2a2a0;
}
.left-bar-header .slideCloseBtn i {
  cursor: pointer;
}
.panel-group .panel {
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: -5px;
  background: #34314c;
}
.panel-group .panel-heading {
  padding: 0;
  border-radius: 0;
  border: none;
  text-align: left;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-group .panel-title a {
  display: block;
  padding: 15px 40px;
  font-size: 13px;
  font-weight: bold;
  color: #bec0d0;
  background: #373456;
  text-decoration: none;
  outline: none;
  box-shadow: 0px -5px 10px #1a305d inset;
  position: relative;
  transition: all 0.5s ease 0s;
}

.panel-group .panel-title a:after, .panel-group .panel-title a.collapsed:after {
  content: "\f067";
  font-family: FontAwesome;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  top: 15px;
  left: 15px;
  transform: rotate(135deg);
  transition: all 0.5s ease 0s;
}

.panel-group .panel-body {
  background: #34314c;
  padding: 5px 0 20px 0;
  border: none;
  position: relative;
  min-height: 100px;
}
.panel-body {
  .ant-table-tbody > tr > td {
    padding: 15px 8px;
    border: 1px solid #294861;
    color: #c1d5e4;
    font-size: 12px;
  }
  .ant-slider {
    margin: 0;
  }
  .ant-slider-rail,
  .ant-slider-track,
  .ant-slider-step {
    height: 2px
  }
  .ant-slider-handle {
    height: 10px;
    width: 10px;
    margin-top: -4px;
  }
}
